*{
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P";
    box-sizing: border-box;
    image-rendering: pixelated;
}
@keyframes animSize{
    from{transform:scale(1);}
    to{transform:scale(1.025);}
}
.container
{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #afc7f8, #5e91f7);
    padding: 10px;
}
.todo-app
{
    position: relative;
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px; /*rounded corners*/
    outline: solid;
    outline-color: #000;
    outline-width: 3px;
}
.todo-app h2{
    color: #000000;
    display: flex; /*align icons and text*/
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
.taskButton{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #455eff;
    image-rendering: pixelated;
    animation: animSize 0.5s alternate infinite ease-in-out;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    outline: solid;
    outline-color: #000;
    outline-width: 3px;
}

.shopButton{
    position: absolute;
    width:235px;
    height:70px;
    top: 150px;
    right: 15px;
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: transparent;
    background-image: url("images/motivationMartButton.png");
    background-size: cover;
    image-rendering: pixelated;
    animation: animSize 0.5s alternate infinite ease-in-out;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    
}

.shopMenu{
    display: none;
    position: absolute;
    top: 230px;
    right: 40px;
    width: 180px;
    height: 250px;
    background: #aeb9fb;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    outline: solid;
    outline-color: #000;
    outline-width: 4px;
}

.shopPink{
    display:none;
    position:relative;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    background-image: url(images/bonsai.png);
    background-size: cover;
    image-rendering: pixelated;
    border-radius: 10px;
    padding: 20px;  
    text-align: center;
    outline: solid;
    outline-color: #000;
    outline-width: 2px;
}

.pinkImg{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 22px;
    top: 67px;
}

.shopDog{
    display:block;
    position:absolute;
    bottom: 110px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-image: url(images/dog.png);
    background-size: cover;
    image-rendering: pixelated;
    border-radius: 10px;
    padding: 20px;  
    text-align: center;
    outline: solid;
    outline-color: #000;
    outline-width: 2px;
}

.shopMenu .dogImg{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 22px;
    top: 143px;
}

.shopMenu .dogText{
    position: absolute;
    top: 149px;
    left:-30px;
}

.shopDog:hover{
    opacity:50%;
    cursor: pointer;
}

.shopMenu p{
    position: relative;
    font-size: 12px;
    right: 38px;
    top: 9px;
    
}

.shopPink:hover{
    opacity:50%;
    cursor: pointer;
}

.shopButton:hover{
    opacity: 0.7;
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 0%;
    background-image: url(images/Unchecked.png);
    background-size: cover;
    background-position: center;
    top: 6px; /*orignally was 12 but changed it*/
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/Checked.png);
}
ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}

.icon{
    position: absolute;
    left: 175px;
    top: 15px;
    height: 60px;
    width: 60px;
}

.coinContainer{
    position: absolute;
    top: 10px;
    right: 40px;
    width: 180px;
    height: 75px;
    background: #f6ff44;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    outline: solid;
    outline-color: #000;
    outline-width: 3px;
}

.coinContainer h2{
    font-size: 9px;
    text-decoration:underline;
    margin-bottom: 10px;
    
}

.coinContainer img{
    position: absolute;
    height:20px;
    width: 20px;
    vertical-align: middle;
}

.coinContainer p{
    display: inline-block;
    margin-left: 25px;
    margin-right: 14px;
    margin-top: 3px;
}

.info p{
    display: block;
    position: absolute;
    bottom: 50px;
    left: 80px;
    outline: solid;
    outline-color: #000;
    outline-width: 3px;
    outline-offset: 10px;
    outline-style: dashed;
}

.info p:hover{
    opacity: 40%;
    cursor: pointer;
}

.bonsai{
    position: absolute;
    display: none;
    width: 200px;
    height: 200px;
    top: 60px;
}

.dog{
    position: absolute;
    display: none;
    width: 200px;
    height: 200px;
    top: 300px;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

